altgraph==0.17.4
asarPy==1.0.1
auto-py-to-exe==2.44.1
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
Eel==0.17.0
fonttools==4.53.0
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.7
Jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.9.1
mpl-interactions==0.24.1
mpmath==1.3.0
numpy==2.0.0
packaging==24.1
pillow==10.4.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
PySide6==6.7.2
PySide6_Addons==6.7.2
PySide6_Essentials==6.7.2
python-dateutil==2.9.0.post0
qt-material==2.14
requests==2.32.3
shiboken6==6.7.2
six==1.16.0
sympy==1.12.1
urllib3==2.2.2
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.4.post2
